.content-viewer-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    z-index: 9;
    filter: blur(5px);
}